<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body class="sab"> 

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s"><a class="Excel" href="/">Topics</a> / Dynamic Programming</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>

                </div>
            </div>
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/coin-change2448/1">Coin ChangeProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/0-1-knapsack-problem/0">Knapsack Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/ncr1019/1">Binomial CoefficientProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/permutation-coefficient/">Permutation CoefficientProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/program-nth-catalan-number/">Program for nth Catalan Number</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/matrix-chain-multiplication-dp-8/">Matrix Chain Multiplication </a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/edit-distance3702/1">Edit Distance</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/subset-sum-problem2014/1">Subset Sum Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/friends-pairing-problem5425/1">Friends Pairing Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/gold-mine-problem/">Gold Mine Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/assembly-line-scheduling-dp-34/">Assembly Line SchedulingProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/painting-the-fence3727/1">Painting the Fenceproblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/cutted-segments/0">Maximize The Cut Segments</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-common-subsequence/0">Longest Common Subsequence</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-repeating-subsequence/0">Longest Repeated Subsequence</a></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-increasing-subsequence/0">Longest Increasing Subsequence</a></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/space-optimized-solution-lcs/">Space Optimized Solution of LCS</a></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/lcs-of-three-strings/0">LCS (Longest Common Subsequence) of three strings</a></td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/maximum-sum-increasing-subsequence4749/1">Maximum Sum Increasing Subsequence</a></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/count-subsequences-product-less-k/">Count all subsequences having product less than K</a></td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-subsequence-such-that-difference-between-adjacents-is-one4724/1">Longest subsequence such that difference between adjacent is one</a></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/maximum-subsequence-sum-such-that-no-three-are-consecutive/">Maximum subsequence sum such that no three are consecutive</a></td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/egg-dropping-puzzle/0">Egg Dropping Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/max-length-chain/1">Maximum Length Chain of Pairs</a></td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/largest-square-formed-in-a-matrix/0">Maximum size square sub-matrix with all 1s</a></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/pairs-with-specific-difference/0">Maximum sum of pairs with specific difference</a></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/path-in-matrix3805/1">Min Cost PathProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/maximum-difference-of-zeros-and-ones-in-binary-string4111/1">Maximum difference of zeros and ones in binary string</a></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-number-of-jumps/0">Minimum number of jumps to reach end</a></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-cost-to-fill-given-weight-in-a-bag1956/1">Minimum cost to fill given weight in a bag</a></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimum-removals-array-make-max-min-k/">Minimum removals from array to make max –min <= K</a></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-common-substring/0">Longest Common Substring</a></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/reach-a-given-score/0">Count number of ways to reacha given score in a game</a></td>
                    </tr>
                    <tr>
                        <th scope="row">34</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/bbt-counter/0">Count Balanced Binary Trees of Height h</a></td>
                    </tr>
                    <tr>
                        <th scope="row">35</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/kadanes-algorithm/0">LargestSum Contiguous Subarray [V>V>V>V IMP ]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">36</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/smallest-sum-contiguous-subarray/">Smallest sum contiguous subarray</a></td>
                    </tr>
                    <tr>
                        <th scope="row">37</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/knapsack-with-duplicate-items4201/1">Unbounded Knapsack (Repetition of items allowed)</a></td>
                    </tr>
                    <tr>
                        <th scope="row">38</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/word-break/0">Word Break Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">39</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/largest-independent-set-problem-dp-26/">Largest Independent Set Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">40</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/subset-sum-problem2014/1">Partition problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">41</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/longest-palindromic-subsequence-dp-12/">Longest Palindromic Subsequence</a></td>
                    </tr>
                    <tr>
                        <th scope="row">42</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/count-palindromic-subsequences/1">Count All Palindromic Subsequence in a given String</a></td>
                    </tr>
                    <tr>
                        <th scope="row">43</th>
                        <td><a class="tab" href="https://leetcode.com/problems/longest-palindromic-substring/">Longest Palindromic Substring</a></td>
                    </tr>
                    <tr>
                        <th scope="row">44</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-alternating-subsequence/0">Longest alternating subsequence</a></td>
                    </tr>
                    <tr>
                        <th scope="row">45</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/weighted-job-scheduling/">Weighted Job Scheduling</a></td>
                    </tr>
                    <tr>
                        <th scope="row">46</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/coin-game-winner-every-player-three-choices/">Coin game winner where every player has three choices</a></td>
                    </tr>
                    <tr>
                        <th scope="row">47</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/count-derangements-permutation-such-that-no-element-appears-in-its-original-position/">Count Derangements (Permutation such that no element appears in its original position) [ IMPORTANT ]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">48</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/maximum-profit-by-buying-and-selling-a-share-at-most-twice/">Maximum profit by buying and selling a share at most twice [ IMP ]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">49</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/optimal-strategy-for-a-game/0">Optimal Strategy for a Game</a></td>
                    </tr>
                    <tr>
                        <th scope="row">50</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/optimal-binary-search-tree-dp-24/">Optimal Binary Search Tree</a></td>
                    </tr>
                    <tr>
                        <th scope="row">51</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/palindromic-patitioning4845/1">Palindrome PartitioningProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">52</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/word-wrap/0">Word Wrap Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">53</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/mobile-numeric-keypad5456/1">Mobile Numeric Keypad Problem [ IMP ]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">54</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/boolean-parenthesization/0">Boolean Parenthesization Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">55</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/largest-rectangular-sub-matrix-whose-sum-0/">Largest rectangular sub-matrix whose sum is 0</a></td>
                    </tr>
                    <tr>
                        <th scope="row">56</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/largest-area-rectangular-sub-matrix-equal-number-1s-0s/">Largest area rectangular sub-matrix with equal number of 1’s and 0’s [ IMP ]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">57</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/maximum-sum-rectangle/0">Maximum sum rectangle in a 2D matrix</a></td>
                    </tr>
                    <tr>
                        <th scope="row">58</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/maximum-profit4657/1">Maximum profit by buying and selling a share at most k times</a></td>
                    </tr>
                    <tr>
                        <th scope="row">59</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/interleaved-strings/1">Find if a string is interleaved of two other strings</a></td>
                    </tr>
                    <tr>
                        <th scope="row">60</th>
                        <td><a class="tab" href="https://leetcode.com/problems/maximum-length-of-pair-chain/">Maximum Length of Pair Chain</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>