<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body class="sab">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s"><a class="Excel" href="/">Topics</a> / Graph</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>

                </div>
            </div>
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="tab" href="https://1drv.ms/t/s!AqTOHFO77CqEiRua06v1PATyiFg5">Create a Graph, print it</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/bfs-traversal-of-graph/1">Implement BFS algorithm</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/depth-first-search-or-dfs-for-a-graph/">Implement DFS Algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/detect-cycle-in-a-graph/">Detect Cycle in Directed Graph using BFS/DFS Algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/detect-cycle-in-an-undirected-graph/1">Detect Cycle in UnDirected Graph using BFS/DFS Algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/rat-in-a-maze-problem/1">Search in a Maze</a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/steps-by-knight/0">Minimum Step by Knight</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="tab" href="https://leetcode.com/problems/flood-fill/">flood fill algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="tab" href="https://leetcode.com/problems/clone-graph/">Clone a graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="tab" href="https://leetcode.com/problems/number-of-operations-to-make-network-connected/">Making wired Connections</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="tab" href="https://leetcode.com/problems/word-ladder/">word Ladder</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/dijkstras-shortest-path-algorithm-greedy-algo-7/">Dijkstra algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/topological-sort/1">Implement Topological Sort</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimum-time-taken-by-each-job-to-be-completed-given-by-a-directed-acyclic-graph/">Minimum time taken by each job to be completed given by a Directed Acyclic Graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/find-whether-it-is-possible-to-finish-all-tasks-or-not-from-given-dependencies/">Find whether it is possible to finish all tasks or not from given dependencies</a></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-the-number-of-islands/1">Find the no. of Isalnds</a></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/alien-dictionary/1">Given a sorted Dictionary of an Alien Language, find order of characters</a></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/kruskals-minimum-spanning-tree-algorithm-greedy-algo-2/">Implement Kruksal’sAlgorithm</a></td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/prims-minimum-spanning-tree-mst-greedy-algo-5/">Implement Prim’s Algorithm</a></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/total-number-spanning-trees-graph/">Total no. of Spanning tree in a graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/negative-weight-cycle/0">Implement Bellman Ford Algorithm</a></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/implementing-floyd-warshall/0">Implement Floyd warshallAlgorithm</a></td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/travelling-salesman-problem-set-1/">Travelling Salesman Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/graph-coloring-applications/">Graph ColouringProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td><a class="tab" href="https://leetcode.com/problems/snakes-and-ladders/">Snake and Ladders Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/bridge-in-a-graph/">Find bridge in a graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/strongly-connected-components-kosarajus-algo/1">Count Strongly connected Components(Kosaraju Algo)</a></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/bipartite-graph/">Check whether a graph is Bipartite or Not</a></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/detect-negative-cycle-graph-bellman-ford/">Detect Negative cycle in a graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/find-longest-path-directed-acyclic-graph/">Longest path in a Directed Acyclic Graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td><a class="tab" href="https://www.hackerrank.com/challenges/journey-to-the-moon/problem">Journey to the Moon</a></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td><a class="tab" href="https://leetcode.com/problems/cheapest-flights-within-k-stops/description/">Cheapest Flights Within K Stops</a></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td><a class="tab" href="https://www.hackerearth.com/practice/algorithms/graphs/topological-sort/practice-problems/algorithm/oliver-and-the-game-3/">Oliver and the Game</a></td>
                    </tr>
                    <tr>
                        <th scope="row">34</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/water-jug-problem-using-bfs/">Water Jug problem using BFS</a></td>
                    </tr>
                    <tr>
                        <th scope="row">35</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/water-jug-problem-using-bfs/">Water Jug problem using BFS</a></td>
                    </tr>
                    <tr>
                        <th scope="row">36</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/find-if-there-is-a-path-of-more-than-k-length-from-a-source/">Find if there is a path of more thank length from a source</a></td>
                    </tr>
                    <tr>
                        <th scope="row">37</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/m-coloring-problem/0">M-ColouringProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">38</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimum-edges-reverse-make-path-source-destination/">Minimum edges to reverse o make path from source to destination</a></td>
                    </tr>
                    <tr>
                        <th scope="row">39</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/paths-travel-nodes-using-edgeseven-bridges-konigsberg/">Paths to travel each nodes using each edge(Seven Bridges)</a></td>
                    </tr>
                    <tr>
                        <th scope="row">40</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/vertex-cover-problem-set-1-introduction-approximate-algorithm-2/">Vertex Cover Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">41</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/chinese-postman-route-inspection-set-1-introduction/">Chinese Postman or Route Inspection</a></td>
                    </tr>
                    <tr>
                        <th scope="row">42</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/number-of-triangles-in-directed-and-undirected-graphs/">Number of Triangles in a Directed and Undirected Graph</a></td>
                    </tr>
                    <tr>
                        <th scope="row">43</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimize-cash-flow-among-given-set-friends-borrowed-money/">Minimise the cashflow among a given set of friends who have borrowed money from each other</a></td>
                    </tr>
                    <tr>
                        <th scope="row">44</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/two-clique-problem-check-graph-can-divided-two-cliques/">Two Clique Problem</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>