<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body class="sab">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s"><a class="Excel" href="/">Topics</a> / Greedy</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>

                </div>
            </div>
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/n-meetings-in-one-room/0">Activity Selection Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/job-sequencing-problem/0">Job SequencingProblem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/huffman-encoding/0">Huffman Coding</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/water-connection-problem/0">Water Connection Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/fractional-knapsack/0">Fractional Knapsack Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/coin-piles/0">Greedy Algorithm to find Minimum number of Coins</a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/maximum-trains-stoppage-can-provided/">Maximum trains for which stoppage can be provided</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-platforms/0">Minimum Platforms Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/buy-maximum-stocks-stocks-can-bought-th-day/">Buy Maximum Stocks if i stocks can be bought on i-th day</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/shop-in-candy-store/0">Find the minimum and maximum amount to buy all N candies</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimize-cash-flow-among-given-set-friends-borrowed-money/">Minimize Cash Flow among a given set of friends who have borrowed money from each other</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimum-cost-cut-board-squares/">Minimum Cost to cut a board into squares</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/survival/">Check if it is possible to survive on Island</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/find-maximum-meetings-in-one-room/">Find maximum meetings in one room</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/maximum-product-subset-array/">Maximum product subset of an array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/maximize-sum-after-k-negations/0">Maximize array sum after K negations</a></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/maximize-arrii-of-an-array/0">Maximize the sum of arr[i]*i</a></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/maximum-sum-absolute-difference-array/">Maximum sum of absolute difference of an array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/swap-and-maximize/0">Maximize sum of consecutive differences in a circular array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimum-sum-absolute-difference-pairs-two-arrays/">Minimum sum of absolute difference of pairs of two arrays</a></td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/program-for-shortest-job-first-or-sjf-cpu-scheduling-set-1-non-preemptive/">Program for Shortest Job First (or SJF) CPU Scheduling</a></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/page-faults-in-lru/0">Program for Least Recently Used (LRU) Page Replacement algorithm</a></td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/smallest-subset-sum-greater-elements/">Smallest subset with sum greater than all other elements</a></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/chocolate-distribution-problem/0">Chocolate Distribution Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/DEFKIN/">DEFKIN -Defense of a Kingdom</a></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/DIEHARD/">DIEHARD -DIE HARD</a></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/GERGOVIA/">GERGOVIA -Wine trading in Gergovia</a></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/GCJ101BB/">Picking Up Chicks</a></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/CHOCOLA/">CHOCOLA –Chocolate</a></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/ARRANGE/">ARRANGE -Arranging Amplifiers</a></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/k-centers-problem-set-1-greedy-approximate-algorithm/">K Centers Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-cost-of-ropes/0">Minimum Cost of ropes</a></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/smallest-number5829/1">Find smallest number with given number of digits and sum of digits</a></td>
                    </tr>
                    <tr>
                        <th scope="row">34</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/rearrange-characters/0">Rearrange characters in a string such that no two adjacent are same</a></td>
                    </tr>
                    <tr>
                        <th scope="row">35</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/find-maximum-sum-possible-equal-sum-three-stacks/">Find maximum sum possible equal sum of three stacks</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>