<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body class="sab">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s"><a class="Excel" href="/">Topics</a> / Heap</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>

                </div>
            </div>
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/building-heap-from-array/">Implement a Maxheap/MinHeap using arrays and recursion.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/heap-sort/">Sort an Array using heap. (HeapSort)</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/sliding-window-maximum-maximum-of-all-subarrays-of-size-k/">Maximum of all subarrays of size k.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/k-largest-elements4206/1">“k” largest element in an array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/kth-smallestlargest-element-unsorted-array/">Kth smallest and largest element in an unsorted array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/merge-k-sorted-arrays/1">Merge “K” sorted arrays. [ IMP ]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/merge-two-binary-max-heap/0">Merge 2 Binary Max Heaps</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/k-th-largest-sum-contiguous-subarray/">Kth largest sum continuous subarrays</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="tab" href="https://leetcode.com/problems/reorganize-string/">Leetcode- reorganize strings</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/merge-k-sorted-linked-lists/1">Merge “K” Sorted Linked Lists [V.IMP]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-smallest-range-containing-elements-from-k-lists/1">Smallest range in “K” Lists</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-median-in-a-stream/0">Median in a stream of Integers</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/is-binary-tree-heap/1">Check if a Binary Tree is Heap</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-cost-of-ropes/0">Connect “n” ropes with minimum cost</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/convert-bst-min-heap/">Convert BST to Min Heap</a></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/convert-min-heap-to-max-heap/">Convert min heap to max heap</a></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/rearrange-characters/0">Rearrange characters in a string such that no two adjacent are same.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-sum4058/1">Minimum sum of two numbers formed from digits of an array</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>