<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon3.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s">Your Gateway to crack DSA 🔥</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-code"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Array</h1>
                            <h3><a href="/array">Start Now</a></h3>
                            <h3>Total Questions 36</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service1 wow fadeInUp" data-wow-delay=".3s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-vector"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Matrix</h1>
                            <h3><a href="/matrix">Start Now</a></h3>
                            <h3>Total Questions 10</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service2 wow fadeInUp" data-wow-delay=".4s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-ux"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>String</h1>
                            <h3><a href="/string">Start Now</a></h3>
                            <h3>Total Questions 43</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service3 wow fadeInUp" data-wow-delay=".5s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-keyword-research"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Search&Sort</h1>
                            <h3><a href="/Searchsort">Start Now</a></h3>
                            <h3>Total Questions 36</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-seo"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Linked List</h1>
                            <h3><a href="/Linkedlist">Start Now</a></h3>
                            <h3>Total Questions 36</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service1 wow fadeInUp" data-wow-delay=".7s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-bar-chart"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Binary Tree</h1>
                            <h3><a href="/Binarytree">Start Now</a></h3>
                            <h3>Total Questions 35</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service2 wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-code"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>BST</h1>
                            <h3><a href="/BST">Start Now</a></h3>
                            <h3>Total Questions 22</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service3 wow fadeInUp" data-wow-delay=".3s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-vector"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Greedy</h1>
                            <h3><a href="/Greedy">Start Now</a></h3>
                            <h3>Total Questions 35</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-ux"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Backtracking</h1>
                            <h3><a href="/Backtracking">Start Now</a></h3>
                            <h3>Total Questions 22</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service1 wow fadeInUp" data-wow-delay=".5s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-keyword-research"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Stacks&Queue</h1>
                            <h3><a href="/Stacksqueue">Start Now</a></h3>
                            <h3>Total Questions 38</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service2 wow fadeInUp" data-wow-delay=".6s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-seo"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Heap</h1>
                            <h3><a href="/Heap">Start Now</a></h3>
                            <h3>Total Questions 18</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service3 wow fadeInUp" data-wow-delay=".7s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-bar-chart"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Graph</h1>
                            <h3><a href="/Graph">Start Now</a></h3>
                            <h3>Total Questions 44</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-keyword-research"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Trie Data Structure</h1>
                            <h3><a href="/Trie">Start Now</a></h3>
                            <h3>Total Questions 6</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service1 wow fadeInUp" data-wow-delay=".6s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-seo"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Dynamic Programming</h1>
                            <h3><a href="/Dynamicprog">Start Now</a></h3>
                            <h3>Total Questions 60</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service2 wow fadeInUp" data-wow-delay=".7s">
                        <div class="serial">
                            <!-- <span><i class="lni lni-bar-chart"></i></span> -->
                        </div>
                        <div class="sat">
                            <h1>Bit Manipulation</h1>
                            <h3><a href="/Bitmanipulation">Start Now</a></h3>
                            <h3>Total Questions 10</h3>
                        </div>
                        <div class="circles-wrap">
                            <div class="circles">
                                <span class="circle circle-1"></span>
                                <span class="circle circle-2"></span>
                                <span class="circle circle-3"></span>
                                <span class="circle circle-4"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="section-title">
                    <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                    <br><br>
                    <!-- <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2> -->
                    <h3 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker is based on <a class="Excel" href="https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view">DSA Cracker Sheet</a></h3>
                    <h3 class="wow fadeInUp" data-wow-delay=".4s"> by <a class="Excel" href="https://www.linkedin.com/in/love-babbar-38ab2887/">Love Babbar</a> 🙏🏻</h3>
                    <br><br>
                    <h3 class="wow fadeInUp" data-wow-delay=".4s"> Project by <a class="Excel" href="https://www.linkedin.com/in/rohan-modi-79647819a/">Rohan</a> 👨🏻‍💻</h3>
                    <br><br>
                    <h3 class="wow fadeInUp" data-wow-delay=".4s">For the 🧡 to code ✌🏻</h3>
                    <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                </div>
            </div>
        </div>

    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>