<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body class="sab">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s"><a class="Excel" href="/">Topics</a> / Search & Sort</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>

                </div>
            </div>
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/first-and-last-occurrences-of-x/0">Find first and last positions of an element in a sorted array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/value-equal-to-index-value1330/1">Find a Fixed Point (Value equal to index) in a given array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="tab" href="https://leetcode.com/problems/search-in-rotated-sorted-array/">Search in a rotated sorted array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/count-squares3649/1">square root of an integer</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/middle-of-three2926/1">Maximum and minimum of an array using minimum number of comparisons</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/optimum-location-point-minimize-total-distance/">Optimum location of point to minimize total distance</a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-missing-and-repeating2512/1">Find the repeating and the missing</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/majority-element/0">find majority element</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/searching-array-adjacent-differ-k/">Searching in an array where adjacent differ by at most k</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-pair-given-difference/0">find a pair with a given difference</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-all-four-sum-numbers/0">find four elements that sum to a given value</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/stickler-theif/0">maximum sum such that no 2 elements are adjacent</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/count-triplets-with-sum-smaller-than-x5549/1">Count triplet with sum smaller than a given value</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/merge-two-sorted-arrays5135/1">merge 2 sorted arrays</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/zero-sum-subarrays/0">print all subarrays with 0 sum</a></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/product-array-puzzle/0">Product array Puzzle</a></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/sort-by-set-bit-count/0">Sort array according to count of set bits</a></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-swaps/1">minimum no. of swaps required to sort the array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td><a class="tab" href="https://www.hackerearth.com/practice/algorithms/searching/binary-search/practice-problems/algorithm/bishu-and-soldiers/">Bishu and Soldiers</a></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td><a class="tab" href="https://www.hackerearth.com/practice/algorithms/searching/binary-search/practice-problems/algorithm/rasta-and-kheshtak/">Rasta and Kheshtak</a></td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td><a class="tab" href="https://www.hackerearth.com/practice/algorithms/searching/binary-search/practice-problems/algorithm/kth-smallest-number-again-2/">Kth smallest number again</a></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td><a class="tab" href="http://theoryofprogramming.com/2017/12/16/find-pivot-element-sorted-rotated-array/">Find pivot element in a sorted array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/k-th-element-of-two-sorted-array/0">K-th Element of Two Sorted Arrays</a></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/AGGRCOW/">Aggressive cows</a></td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/allocate-minimum-number-of-pages/0">Book Allocation Problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/EKO/">EKOSPOJ:</a></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/weighted-job-scheduling-log-n-time/">Job Scheduling Algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/arithmetic-number/0">Missing Number in AP</a></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/smallest-factorial-number5929/1">Smallest number with atleastn trailing zeroes infactorial</a></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/allocate-minimum-number-of-pages/0">Painters Partition Problem:</a></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/PRATA/">ROTI-Prata SPOJ</a></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/ANARC05B/">DoubleHelix SPOJ</a></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td><a class="tab" href="https://www.spoj.com/problems/SUBSUMS/">Subset Sums</a></td>
                    </tr>
                    <tr>
                        <th scope="row">34</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/inversion-of-array/0">	Find the inversion count</a></td>
                    </tr>
                    <tr>
                        <th scope="row">35</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/in-place-merge-sort/">Implement Merge-sort in-place</a></td>
                    </tr>
                    <tr>
                        <th scope="row">36</th>
                        <td><a class="tab" href="https://www.baeldung.com/java-sorting-arrays-with-repeated-entries">Partitioning and Sorting Arrays with Many Repeated Entries</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>