<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>450 DSA Cracker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

</head>

<body class="sab">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->
    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <!-- <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span> -->
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">450 DSA Cracker</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s"><a class="Excel" href="/">Topics</a> / String</h3>
                        <!-- <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p> -->
                    </div>

                </div>
            </div>
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="tab" href="https://leetcode.com/problems/reverse-string/">Reverse a String</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/palindrome-string0817/1">Check whether a String is Palindrome or not</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/print-all-the-duplicates-in-the-input-string/">Find Duplicate characters in a string</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="tab" href="https://www.baeldung.com/java-string-immutable">Why strings are immutable in Java?</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/a-program-to-check-if-strings-are-rotations-of-each-other/">Write a Code to check whether one string is a rotation of another</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="tab" href="https://www.programiz.com/java-programming/examples/check-valid-shuffle-of-strings">Write a Program to check whether a string is a valid shuffle of two strings or not</a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="tab" href="https://leetcode.com/problems/count-and-say/">Count and Say problem</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-palindrome-in-a-string/0">Write a program to find the longest Palindrome in a string.[ Longest palindromic Substring]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-repeating-subsequence/0">Find Longest Recurring Subsequence in String</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/print-subsequences-string/">Print all Subsequences of a string.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/permutations-of-a-given-string/0">Print all the permutations of the given string</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/split-the-binary-string-into-substrings-with-equal-number-of-0s-and-1s/">Split the Binary string into two substring with equal 0’s and 1’s</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/word-wrap/0">Word Wrap Problem [VERY IMP].</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/edit-distance3702/1">EDIT Distance [Very Imp]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/next-permutation/0">Find next greater number with same set of digits. [Very Very IMP]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/parenthesis-checker/0">Balanced Parenthesis problem.[Imp]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/word-break/0">Word break Problem[ Very Imp]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/rabin-karp-algorithm-for-pattern-searching/">Rabin Karp Algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-prefix-suffix2527/1">KMP Algo</a></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/convert-sentence-equivalent-mobile-numeric-keypad-sequence/">Convert a Sentence into its equivalent mobile numeric keypad sequence.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/count-the-reversals/0">Minimum number of bracket reversals needed to make an expression balanced.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/count-palindromic-subsequences/1">Count All Palindromic Subsequence in a given String.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/find-count-number-given-string-present-2d-character-array/">Count of number of given string in 2D character array</a></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/find-the-string-in-grid/0">Search a Word in a 2D Grid of characters.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/boyer-moore-algorithm-for-pattern-searching/">Boyer Moore Algorithm for Pattern Searching.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/roman-number-to-integer/0">Converting Roman Numerals to Decimal</a></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td><a class="tab" href="https://leetcode.com/problems/longest-common-prefix/">Longest Common Prefix</a></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/min-number-of-flips/0">Number of flips to make binary string alternate</a></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/second-most-repeated-string-in-a-sequence/0">Find the first repeated word in string.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/minimum-swaps-for-bracket-balancing/0">Minimum number of swaps for bracket balancing.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/longest-common-subsequence/0">Find the longest common subsequence between two strings.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/program-generate-possible-valid-ip-addresses-given-string/">Program to generate all possible valid IP addresses from given string.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/smallest-distant-window/0">Write a program to find the smallest window that contains all characters of string itself.</a></td>
                    </tr>
                    <tr>
                        <th scope="row">34</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/rearrange-characters/0">Rearrange characters in a string such that no two adjacent are same</a></td>
                    </tr>
                    <tr>
                        <th scope="row">35</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/minimum-characters-added-front-make-string-palindrome/">Minimum characters to be added at front to make string palindrome</a></td>
                    </tr>
                    <tr>
                        <th scope="row">36</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/k-anagrams-1/0">Given a sequence of words, print all anagrams together</a></td>
                    </tr>
                    <tr>
                        <th scope="row">37</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/smallest-window-in-a-string-containing-all-the-characters-of-another-string/0">Find the smallest window in a string containing all characters of another string</a></td>
                    </tr>
                    <tr>
                        <th scope="row">38</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/consecutive-elements/0">Recursively remove all adjacent duplicates</a></td>
                    </tr>
                    <tr>
                        <th scope="row">39</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/wildcard-string-matching/0">String matching where one string contains wildcard characters</a></td>
                    </tr>
                    <tr>
                        <th scope="row">40</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/function-to-find-number-of-customers-who-could-not-get-a-computer/">Function to find Number of customers who could not get a computer</a></td>
                    </tr>
                    <tr>
                        <th scope="row">41</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/transform-one-string-to-another-using-minimum-number-of-given-operation/">Transform One String to Another using Minimum Number of Given Operation</a></td>
                    </tr>
                    <tr>
                        <th scope="row">42</th>
                        <td><a class="tab" href="https://practice.geeksforgeeks.org/problems/isomorphic-strings/0">Check if two given strings are isomorphic to each other</a></td>
                    </tr>
                    <tr>
                        <th scope="row">43</th>
                        <td><a class="tab" href="https://www.geeksforgeeks.org/recursively-print-all-sentences-that-can-be-formed-from-list-of-word-lists/">Recursively print all sentences that can be formed from list of word lists</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/imagesloaded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= glightbox
        GLightbox({
            'href': 'https://www.youtube.com/watch?v=BqI0Q7e4kbk&t=1s',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //======== Home Slider
        var slider = new tns({
            container: '.home-slider',
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: true,
            controls: false,
            controlsText: [
                '<i class="lni lni-arrow-left prev"></i>',
                '<i class="lni lni-arrow-right next"></i>'
            ],
            responsive: {
                1200: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                0: {
                    items: 1,
                }

            }
        });
    </script>
</body>

</html>